body {
	font-family: Veranda, Arial, Helventica, sans-serif;
}

header {
  background-color: LightGreen;
  text-align: center;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 75px;
}

h2 {
  text-align: center;
  font-size: 30px;
  background-color: LightGray;
}

h3 {
  text-align: center;
  font-size: 30px;
  background-color: LightGray;
}
	
p {
  font-size: 17px;
}

bottom {
	text-align: center;
	font-size: 13px;
	font-weight: italic;
}

footer {
	background-color: LightGreen;
}
