* {
  box-sizing: border-box;
}

body {
  font-family: Veranda, Arial, Helvetica, sans-serif;
}

.header {
  background-color: LightGreen;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  font-style: italic;
}

.top {
  text-align: center;
  font-size: 20px;
  background-color: LightGray;
  padding: 8px;
}

nav {
  overflow: hidden;
  background-color: LightGray;
  border: 3px solid #686868;
} 

li a {
  float: left;
  display: block;
  color: Black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-family: Veranda, Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

li a:hover {
  background-color: LimeGreen;
  color: black;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding: 5px;
  background-color: LightGray;
}

p {
  font-size: 17px;
}

h3 {
  text-align: center;
  font-size: 30px;
  padding: 5px;
  background-color: LightGreen;
}


.imgtext {
  font-size: 17px;
  text-align: center;
}

<!-- So that the float is not there before the columns -->
.row:before {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color:PaleGreen;
}
.column2 {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color:Honeydew;
}
.column3 {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color:PaleGreen;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: LightGreen;
  padding: 1px;
  text-align: left;
  font-size: 3px;
  font-style: italic;
  margin-top: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
