body {
	font-family: Veranda, Arial, Helventica, sans-serif;
}

header {
  background-color: LightGreen;
  text-align: center;
  padding: 5px;
}

nav {
  overflow: hidden;
  background-color: #333;
} 

li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  text-align: center;
  font-size: 75px;
}

h2 {
  text-align: center;
  font-size: 30px;
  background-color: LightGray;
}

h3 {
  text-align: center;
  font-size: 30px;
  background-color: LightGray;
}
	
p {
  font-size: 17px;
}

footer {
	background-color: LightGreen;
}
